.nav-main .left {
	position: absolute;
	left: 0;
	top: 0;
	padding: 30px;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom-right-radius: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 1.2em;
}

.nav-main .right {
	position: absolute;
	right: 0;
	top: 0;
	padding: 30px;
	border-bottom: 2px solid #000;
	border-left: 2px solid #000;
	border-bottom-left-radius: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 1.2em;
}

.nav-main li {
	border-bottom: 1px solid #000;
	text-align: center;
}

.nav-main li a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 4px;
}

.nav-main li:hover {
	border-color: orange;
}

.nav-main li a.active {
	color: orange;
}

.nav-main .logout {
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
	border: 0;
	border-bottom: 2px solid #000;
	border-left: 2px solid #000;
	border-bottom-left-radius: 20px;
	color: #fff;
	background: transparent;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 1.2em;
}

.nav-main .logout:active {
	color: orange;
}
